<h1  class="govuk-heading-l">Dashboard</h1>

<div>
  <h2  class="govuk-heading-m">Welcome <%= @user["name"] %></h2>
  <p class="govuk-body">Profile:</p>
  <p class="govuk-body"><%= @user %></p>
  <p class="govuk-body">Provider: <%= @provider %></p>
  <a href="/logout" class="govuk-button">Logout</a>
</div>
