<%= page_title t('components.title') %>

<h1 class="govuk-heading-l"><%= t 'components.title' %></h1>

<%= render "shared/component_certificates", components: @msa_components, name: COMPONENT_TYPE::MSA %>
<%= render "shared/component_certificates", components: @sp_components, name: COMPONENT_TYPE::SP %>
