<h1 class="govuk-heading-l">Manage certificates</h1>

<%= render "shared/msa_certificates"%>
<%= render "shared/sp_certificates"%>

<!--<%= render "sp_components/all_sp_components"%>
<%= render "msa_components/all_msa_components"%>-->
