<h1 class="govuk-heading-xl"><%= t 'users.title' %></h1>

<%= link_to t('users.invite_button'), invite_user_path , class: "govuk-button", data: { module: "govuk-button" }, role:"button", draggable:"false" %>
