<%= page_title 'Reset user password' %>
<%= link_to t('common.back'), users_path, class: 'govuk-back-link' %>

<h1 class="govuk-heading-l">Reset user password: <%= @user.first_name  %></h1>

<%= link_to 'Confirm', reset_user_password_path, method: :post, class: 'govuk-button', data: { module: "govuk-button" } %>

