<div class="govuk-form-group <%= 'govuk-form-group--error' if @component.errors.key?(:team_id) %>">
  <h3 class="govuk-heading-m"><%= t 'components.team' %></h3>
  <div class="govuk-form-group">
    <%= f.select(:team_id, teams.map{|t|[t.name, t.id]},
    {include_blank: 'Select'},
    {class: 'govuk-select'})
    %>
  </div>
</div>
