<% if errors&.any? %>
  <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
      <%= t 'shared.errors.problem' %>
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <% errors.each do |key| %>
          <li data-turbolinks="false">
            <%= link_to "#{errors&.full_messages_for(key).first}" , "#component_#{key}" %>
          </li>
        <% end %>
      </ul>
    </div>
   </div>
<% end %>
