<%= page_title 'Cookies' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Cookies</h1>
    <p class="govuk-body">
        GOV.UK Verify Manage Certificates puts small files (known as ‘cookies’) onto your computer.
    </p>
    <p class="govuk-body">These cookies are used to identify and remember you once you’ve logged in.</p>
    <p class="govuk-body">
        Find out <a href="https://ico.org.uk/for-the-public/online/cookies/">how to manage cookies</a>.
    </p>

    <h2 class="govuk-heading-m">Session cookies</h2>
    <p class="govuk-body">
        We store session cookies on your computer to help keep your information
        secure while you use the service.
    </p>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Name</th>
          <th scope="col" class="govuk-table__header">Purpose</th>
          <th scope="col" class="govuk-table__header">Expires</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            _verify_self_service_session
          </td>
          <td class="govuk-table__cell">
            Used to identify you and keep you logged in 
          </td>
          <td class="govuk-table__cell">
            When you close your browser window
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>