<%= page_title 'Privacy notice' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">GOV.UK Verify Manage certificates privacy notice</h1>
    <p class="govuk-body">
      Last updated: 9 October 2019
    </p>

    <h2 class="govuk-heading-m">Who we are</h2>
    <p class="govuk-body">
      GOV.UK Verify Manage certificates is an admin tool provided by GOV.UK Verify, run by the Government Digital Service (GDS). 
      It provides services with information that helps them to manage their connection with GOV.UK Verify such as rotate certificates.
    </p>
    <p class="govuk-body">
      The platform is integrated with the hub and an <strong>access management tool</strong>, which helps users sign-up and sign-in.
    </p>
    <p class="govuk-body">
      This privacy notice explains what data we might collect, how it’s used and how it’s protected.
    </p>

    <h2 class="govuk-heading-m">What data we will collect from you</h2>
    <p class="govuk-body">
      The personal data we collect from you will include:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>First name</li>
      <li>Second name</li>
      <li>Email address</li>
    </ul>

    <h2 class="govuk-heading-m">Why we need your data</h2>
    <p class="govuk-body">
      We need your data to provide you access to our self-service platform and inform you of any changes or updates to GOV.UK Verify.
    </p>

    <h2 class="govuk-heading-m">Our legal basis for using your data</h2>
    <p class="govuk-body">
      The legal basis for processing your personal data is that it’s necessary to perform a task in the public interest.
    </p>

    <h2 class="govuk-heading-m">Who we share your data with</h2>
    <p class="govuk-body">
      As your personal data will be stored on our IT infrastructure it will also be shared with our data processors who provide access and authentication document management services.
    </p>
    <p class="govuk-body">
      We will share your data if we’re required to do so by law – for example, by court order, or to prevent fraud or other crime.
    </p>

    <h2 class="govuk-heading-m">How long we keep your data</h2>
    <p class="govuk-body">
      We will keep your personal data for as long as you wish to access our self-service platform and will refresh the information every year.
    </p>

    <h2 class="govuk-heading-m">Where your data is processed and stored</h2>
    <p class="govuk-body">
      Your personal data is stored on our IT infrastructure and will be shared with our data processors. It will not be stored outside in the European Economic Area (EEA).
    </p>

    <h2 class="govuk-heading-m">Your rights</h2>
    <p class="govuk-body">
      You have the right to withdraw consent to the processing of your data at any time.
    </p>
    <p class="govuk-body">
      You also have the right to request:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>information about how your personal data is processed</li>
      <li>a <a href="https://ico.org.uk/your-data-matters/your-right-of-access/" class="govuk-link">copy of that personal data</a></li>
      <li>that this copy be provided in a structured, commonly used and machine-readable format</li>
      <li>that anything inaccurate in your personal data is corrected without delay</li>
      <li>that your personal data is erased if there is no longer a justification for holding it, and</li>
      <li>that the processing of your personal data is restricted in certain circumstances (for example, where accuracy is contested)</li>
    </ul>
    <p class="govuk-body">
      If you have any of these requests, get in contact with us at our contact details below.
    </p>

    <h2 class="govuk-heading-m">Changes to this notice</h2>
    <p class="govuk-body">
      We may change this privacy notice. When we make changes to this notice, the ‘last updated’ date at the top of this page will also change. 
      Any changes to this privacy notice will apply to you and your data immediately. If these changes affect how your personal data is processed, 
      GDS will take reasonable steps to make sure you know.
    </p>

    <h2 class="govuk-heading-m">How to contact us or make a complaint</h2>
    <p class="govuk-body">
      You can contact the Privacy Team at <a href="mailto:gds-privacy-office@digital.cabinet-office.gov.uk" class="govuk-link">gds-privacy-office@digital.cabinet-office.gov.uk</a> if you:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>have a question about anything in the privacy notice</li>
      <li>think that your personal data has been misused or mishandled</li>
    </ul>

    <p class="govuk-body">
      You can also contact the Cabinet Office Data Protection Officer (DPO) at <a href="mailto:DPO@cabinetoffice.gov.uk" class="govuk-link">DPO@cabinetoffice.gov.uk</a>.
    </p>
    <p class="govuk-body">
      Or by post at:
    </p>
    <p class="govuk-body">
      Data Protection Officer<br>
      Cabinet Office<br>
      70 Whitehall<br>
      London<br>
      SW1A 2AS
    </p>
    <p class="govuk-body">
      You can make a complaint to the Information Commissioner’s Office (ICO), who is an independent regulator.
    </p>
    <p class="govuk-body">
      <strong>ICO</strong><br>
      <a href="mailto:casework@ico.org.uk" class="govuk-link">casework@ico.org.uk</a><br>
      Telephone: 0303 123 1113<br>
      Textphone: 01625 545860<br>
      Monday to Friday, from 9 am to 4:30 pm
    </p>

    <p class="govuk-body">
      <a href="https://www.gov.uk/call-charges" class="govuk-link">Find out about call charges</a>
    </p>

    <p class="govuk-body">
      Information Commissioner's Office<br>
      Wycliffe House<br>
      Water Lane<br>
      Wilmslow<br>
      Cheshire<br>
      SK9 5AF
    </p>
  </div>
</div>