<h1 class="govuk-heading-l">GOV.UK Verify is adding your certificate to its configuration</h1>
<p>This usually takes around 1 hour. We'll email you when this is done.</p>
<h2 class="govuk-heading-m">Next steps</h2>
<ul class="govuk-list govuk-list--number">
    <li>Wait for the email from GOV.UK Verify confirming your new encryption certificate is in use</li>
    <li>Delete the old encryption key and certificate from your MSA configuration
</li>
</ul>
<p>Find out more about <a href="https://prototype-docs.cloudapps.digital/rotating-your-keys-and-certificates/msa-encryption/#rotate-your-msa-encryption-key-and-certificate">rotating your MSA encryption key and certificate</a> in the documentation.</p>
<%= link_to "Update more certificates", root_path %> 