<h2 class="govuk-heading-l">Set up your new password</h2>

<p class="govuk-body-l">This is first time you're logging in, please set your password.</p>

<div class="govuk-form-group">
  <%= f.label :new_password, class: "govuk-label" %>
  <%= f.password_field :new_password, autofocus: true, class: "govuk-input" %>
  <%= f.hidden_field :email, value: session[:username] %>
</div>