<h1>Certificates#index</h1>
<p>Find me in app/views/certificates/index.html.erb</p>

<a href="/upload" role="button" draggable="false" class="govuk-button govuk-button--start">
  Upload a certificate
</a>
