<h1 class="govuk-heading-xl">Teams</h1>

<% if @teams.present? %>
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Name</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @teams.reverse.each do |team| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" scope="row"><%= team.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
<% end %>

<%= link_to 'Add new team', new_admin_team_path, class: "govuk-button govuk-button--start", role:"button", draggable:"false" %>

