<% content_for :main do %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">Manage certificates</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Team Members</a>
      </li>
    </ul>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <%= yield %>
    </div>
  </div>
<% end %>
<%= render file: 'layouts/application' %>
