<% content_for :main do %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
    <div class="side-navigation">
      <ul class="govuk-list">
        <li class="active">
          <a href="/" class="govuk-link--no-visited-state">Manage certificates</a>
        </li>
        <li>
          <a href="#" class="govuk-link--no-visited-state">Team members</a>
        </li>
      </ul>
    </div>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <%= yield %>
    </div>
  </div>
<% end %>
<%= render file: 'layouts/application' %>
